.password-input-container {
  display: flex;
  flex-direction: column;
}

.password-input-container > label {
  color: var(--grey-C5C7CA);
  line-height: 16.94px;
  display: flex;
  justify-content: space-between;
}

.password-label {
  font-weight: 500;
  font-size: 14px;
}

.password-input {
  border: 1.5px solid #35373b;
  border-radius: 4px;
  height: 20px;
  background: var(--grey-27292D);
  outline: none;
  color: var(--grey-C5C7CA);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  line-height: 19.36px;
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  flex-grow: 1;
}

.password-input::placeholder {
  color: var(--grey-7F8084);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
}

.password-wrapper {
  display: flex;
  margin-top: 8px;
}

.peek-password {
  border: 1.5px solid #35373b;
  border-radius: 4px;
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: var(--grey-27292D);
  align-content: center;
  padding-right: 10px;
  cursor: pointer;
}

.forgot-password {
  font-weight: 500;
  font-size: 12px;
}